---
import siteDetails from "../data/site.json";
const { address1, address2, addressCity, addressState, addressZIP, phone, email, author } = siteDetails;
interface Props {
    address1: string;
    address2: string;
    addressCity: string;
    addressState: string;
    addressZIP: string;
}
---

<aside id="sidebar">
    <section class="address">
        <address>
            {address1}<br />
            {addressCity}, {addressState} {addressZIP}
        </address>
    </section>
    <hr />
    <section class="contact">
        {phone}<br />
        {email}
    </section>
</aside>